<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link rel="stylesheet" href="/item.css">
</head>
<body>
<div>
    <div>
        <h2>Order List</h2>
    </div>

    <hr>
    <div>
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>User Name</th>
                <th>Paid Price(전체 가격)</th>
                <th>Paid Quantity</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>주문 취소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}">Order ID</td>
                <td th:text="${order.user}">User Name</td>

                <td>

                    <p th:each="orderItem: ${order.orderItems}"
                        th:utext="${orderItem}">Paid Price(전체 가격)
<!--                        th:utext ==> 특수문자를 변환 안해서 html 코드 출력 가능.
                            th:text는 특수문자를 &lt;등으로 뷰에 보이게만 바꿈.-->
                    </p>

                    <span th:each="oi: ${order.orderItems}">
                        <span th:text="'금액 계산식: ' +${oi.printCalculate()}" >계산식</span>
                        <br>
                    </span>


                </td>
                <td th:text="${order.getTotalQuantity()}">Paid Quantity</td>
               <!-- <td th:each ="oi: ${order.orderItems}"
                        th:text="${oi.quantity}">주문 수량</td>-->

                <td th:text="${order.getTotalPrice()}">Total Price</td>
                <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}">Order Date</td>
                <td th:text="${order.status}">Status</td>
<!--                유지보수 할때 부정 -> 긍정 메소드로 만들기.-->
                <td th:if="${order.status.name() != 'CANCELLED'}">
                    <button th:onclick="|location.href='@{/items/{id}/cancel(id=${order.id})}'|"
                        type="button">
                        주문 취소
                    </button>
                    </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <h2><a th:href ="@{/main}">메인 페이지로 돌아가기</a></h2>
</div>


</body>
</html>