body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 10rem;
    margin: 0;
    color: #dc3545;
}

p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #007bff;
    color: #fff;
}