<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write New Post</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <style>

    </style>
</head>
<body>

<header>
    <h1>My Shopping Mall</h1>
</header>

<nav>
    <a th:href="@{/}">홈</a>
    <a th:href="@{/items}">상품 관리 페이지</a>
    <a th:href="@{/categories}">카테고리 관리 페이지</a>
    <a th:href="@{/posts}" style="color: var(--primary-text);">게시판</a>
    <a th:href="@{/mypage}">마이 페이지</a>
    <a th:href="@{/login}">로그인</a>
    <a th:href="@{/register}">회원가입</a>
</nav>

<div class="container">
    <div class="form-container">
        <h2 class="form-title">새로운 게시물 등록</h2>

        <form th:action="@{/posts/new}" th:object="${post}" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" th:field="*{title}" class="form-input" placeholder="게시물 제목을 입력해주세요.">
                <div class="field-error" th:errors="*{title}"></div>
            </div>

            <div class="form-group author-info">
                <label>작성자</label>
                <strong th:text="${user.name}">User Name</strong>
                <input type="hidden" name="userId" th:value="${user.id}">
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" th:field="*{content}" class="form-textarea" placeholder="게시물 내용을 입력해주세요"></textarea>
                <div class="field-error" th:errors="*{content}"></div>
            </div>

            <div class="button-container">
                <button th:onclick="|location.href='@{/posts}'|" type="button" class="btn btn-secondary">취소</button>
                <button type="submit" class="btn btn-primary">게시물 등록</button>
            </div>
        </form>
    </div>
</div>

<footer>
    <p>&copy; 2025 My Shopping Mall</p>
</footer>

</body>
</html>
