<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Shopping Mall</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>My Shopping Mall</h1>
</header>

<nav>
    <a th:href="@{/main}">홈</a>
    <a th:href="@{/items}">상품 관리 페이지</a>
    <a th:href="@{/posts}">게시판</a>
    <a th:href="@{/mypage}">마이 페이지</a>
    <a th:href="@{/}">로그인</a>
    <a th:href="@{/register}">회원가입</a>
</nav>

<!-- 검색 폼 추가 시작 -->
<div class="container search-form-container">
    <form th:action="@{/main}" method="get" class="search-form">
        <input type="text" name="keyword" th:value="${param.keyword}" placeholder="상품 이름 검색">
        <button type="submit" class="btn btn-search">검색</button>
    </form>
</div>
<!-- 검색 폼 추가 끝 -->

<div class="container">
    <p class="field-error" th:if="${errorPV}" th:text="${errorPV}"></p>

    <h2 class="text-center mt-20">Featured Products</h2>

    <div class="product-grid">
        <!-- Dynamically loaded products -->
        <div class="product-card" th:each="item : ${items}">
            <a th:href="@{|/items/${item.id}/cart|}">
                <img th:src="@{${item.imageUrl}}" alt="Product Image">
                <div class="product-card-info">
                    <h3 th:text="${item.itemName}">Product Name</h3>
                    <p th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')}+ '원'">Price</p>
                    <p th:text="'남은 수량 :'+ ${#numbers.formatInteger(item.quantity, 0, 'COMMA')}+ '개'">Quantity</p>
                </div>
            </a>
            <a th:href="@{|/items/${item.id}/cart|}" class="btn btn-primary">장바구니에 담기</a>
        </div>
    </div>

    <div class="text-center mt-20">
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-secondary">로그아웃</button>
        </form>
        <div style="text-align: center;">
            <a class="btn btn-secondary" th:href ="@{/items/cartAll}">전체 장바구니 보기</a>
            <a class="btn btn-secondary" th:href ="@{/items/orderAll}">주문 관리 페이지</a>
            <a class="btn btn-secondary" th:href ="@{/posts}">게시판 보기</a>
            <a class="btn btn-secondary" th:href ="@{/mypage}">마이 페이지</a>
        </div>
    </div>

</div>

<footer>
    <p>&copy; 2025 My Shopping Mall</p>
</footer>

</body>
</html>