<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="login-wrapper">
  <h2>Sign Up(회원가입)</h2>
  <form method="post" th:action id="login-form" th:object="${form}">

    <input type="text" name="name" placeholder="Your name">
    <div class="field-error" th:errors="*{name}">
      이름 오류 메시지
    </div>
    <input type="text" name="email" placeholder="Email">

    <div class="field-error" th:errors="*{email}">
      이메일 오류 메시지
    </div>

    <input type="password" name="password" placeholder="Password">

    <div class="field-error" th:errors="*{password}">
      이메일 오류 메시지
    </div>

    <label for="remember-check">
      <input type="checkbox" id="remember-check">아이디 저장하기
    </label>

    <input type="submit" value="Login">
  </form>
</div>
</body>
</html>