<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/item.css">

</head>
<body>
<div>
    <div>
<!--        th:text 안에는 타임리프 표현식 또는 변수 참조 넣어야함.
            단순 문자열은 표현식으로 해석할려함.
            문자열 그대로 쓸려면 ' ' 로 감싸야 함.-->
        <h2 th:text="' 관리자용 전체 상품 관리 목록'">상품목록</h2>
    </div>
    <p class="field-error" th:if="${errorPV}" th:text="${errorPV}">PathVariable 에러 메시지</p>


    <div>
        <div>
            <button onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/items/add}'|"
                    type="button" th:text="'상품 등록'"> 상품등록</button>
        </div>
    </div>

    <hr>
    <div>
        <table>
            <thead>
            <tr>
                <th th:text ="'상품 ID'">ID</th>
                <th th:text ="'상품명'">이름</th>
                <th th:text ="'상품 가격'">가격</th>
                <th th:text ="'상품 수량'">수량</th>
<!--                <th th:text="'상품 주문'">주문</th>-->
                <th>삭제하기</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each = "item : ${items}">
                <td><a href="item.html" th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">상품 ID</a> </td>

                <td><a href="item.html" th:href="@{|/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>

                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
<!--                장바구니 담기로 바꾸거나 삭제하거나-->
<!--                <td><a th:href="@{|/items/${item.id}/order|}">주문하기</a></td>-->
                <td>
                    <form th:action="@{|/items/${item.id}/delete|}" method="post">
                        <button type="submit">상품 삭제</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</div>


</body>
</html>